.fight {
    .form-label {
    display: block;
   
    font-size: 40px;
    margin: 10px 60px 20px 60px;
  }

  img {
    vertical-align: middle;
    border-style: none;
    margin-bottom: 30px;
  }

  .randomTask {
    margin: 10px 60px 20px 60px;
  }

  .form-control{
    width: 60%;
  }
  .btn-primary{
    border-radius: 20px;
    background-color: $bright-purple;
    border: none;
  }
}


