div.thumbnail-container {
    display: flex;
    flex-direction :row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

h2 {
    text-align: left;
}

.modal-button {
  display: block !important;
  margin: auto;
  margin-bottom: 20px;
  background-color: mediumslateblue;
  width: 200px;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  background-color: mediumslateblue;
  border-color: mediumslateblue;
  box-shadow: none;
}

.dino-text {
  color: mediumslateblue;
  height: 100px;
  //background: black;
  text-align: middle;
  margin-bottom: -150px;
}

.img {
  vertical-align: middle;
  border-style: none;
  margin-bottom: 50px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: -10px;
  list-style: none;
}

