label {
  display: block;
  margin-bottom: 0.5rem;
}

img {
  vertical-align: middle;
  border-style: none;
  margin-bottom: 30px;
}

.randomTask {
  margin-top: 10px;
  margin-bottom: 20px;
  width: max-content-30px;
}

.fight-buttons {
  margin-left: 10px;
  margin-right: 10px;
  background-color: mediumslateblue;
  border: none;
}