$orange: #ff9933;
$gray: #ABA9BF;
$yellow: #FFFFC7;
$purple: #BEB7DF;
$green: #D4F2D2;
$bright-purple: #8F00FF;
$dark-purple: #5900b3;
$background-color: #c6ecd9;
$neon-blue: #08F7FE;
$neon-green: #09FBD3;
$neon-pink: #FE53B8;
$neon-yellow: #FFF857;

// Vendor
@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

// App
@import "app";
@import "navbar";
@import "login";
@import "mood";
